<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Message</title>
</head>
<body>
    <!-- Applying that ejs template which will reamin common on all templates for example navbar, sidebar -->
    <%- include("includes/common.ejs") %>
    
    <div class="set-table">
        <h1>Invalid Code. Failed To delete stock product code: <%= code %>.</h1>
        <!-- Request sending to update page  -->
        <button onclick="goback()">Retry</button> 
        <button onclick="gohome()">Home page</button>
    </div>

</body>

<!-- JAVA SCRIPT -->
<script>
    const goback = () =>{
        window.history.back();          // it will redirect to previous page
    }
    const gohome = () =>{
        window.location.href = '/home';     // it will redirect to home page
    }
</script>
</html>