<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Message</title>
</head>
<body>
    <h1>Invalid Code. Failed To delete stock product code: <%= code %>.</h1>
    <!-- Request sending to update page  -->
    <form action="/home/update"><button>Retry</button></form>       
</body>
</html>