<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Stock</title>
</head>
<body>
    
    <h1>Fill Details of New Stock </h1>
    <form method="post" action="/newstockpreview">
        
        <h3>Product Code : <input type="text" name="pcode" ></h3>
        <h3>Product Name : <input type="text" name="pname" ></h3>
        <h3>Unit : <input type="text" name="unit" id=""></h3>
        <h3>Price per unit : <input type="text" name="ppu" ></h3>

        <button>Add</button>
    </form>
</body>
</html>